{% extends 'base.html' %}

{% block title %}
Vesti
{% endblock %}

{% block content %}

    

    <form method="post">
    {% csrf_token %}
    {{ searchform }}
        <input type="submit" value="Search">
    </form>
    
    <ul>
    {% for vest in vesti %}
        <li>
            <h4>{{ vest.naslov }}</h4>
            <p>{{ vest.sadrzaj }}</p> -- {{ vest.autor }}
            
            {% if user == vest.autor or perms.vesti.delete_vest %}
            	<form method="post" action="{% url 'delete_vest' %}">
                {% csrf_token %}
                <button type="submit" value="{{ vest.id }}" name="vest_id">Delete</button>
                </form>
            {% endif %} 
        </li>
    {% endfor %}
    </ul> 
    
    
    
{% endblock %}